.background {
    background-color: #333; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  
  .Main {
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .formcls {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
  
  input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  p {
    color: red; 
    margin: 5px 0;
  }
  .successMessage {
    background-color: #2ecc71; 
    color: #fff; 
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #3498db; 
    color: #fff; 
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9; }
  